{{ define "main" }}
<div class="block">
  Here’s a collection of some of the stuff I’ve worked on—not everything is tech-related. If something piques your
  interest and you’d like to dive deeper or even collaborate, don’t hesitate to reach out to me on Discord!
</div>

<section class="projects-section">
  <div class="projects-list">
    {{ range .Pages }}
    <div class="project-item">
      <img class="project-image" src="{{ .Params.image }}" alt="{{ .Title }}" />
      <div class="project-content">
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <p>{{ .Description }}</p>
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
