{{ define "main" }}
<div class="block">
  Here’s a collection of some of the stuff I’ve worked on—not everything is tech-related. If something piques your
  interest and you’d like to dive deeper or even collaborate, don’t hesitate to reach out!
</div>

<section class="projects-section">
  <div class="projects-list">
    {{ range .Pages.ByWeight.Reverse }}
    <div class="project-item">
      {{ $img := resources.Get .Params.image }}
      {{ if gt $img.Width 600 }}{{ $img = $img.Resize "600x webp q85" }}{{ else }}{{ $img = $img.Process "webp q85" }}{{ end }}
      <img class="project-image" src="{{ $img.RelPermalink }}" alt="{{ .Title }}" width="{{ $img.Width }}" height="{{ $img.Height }}" loading="lazy" decoding="async" />
      <div class="project-content">
        {{ if .Param "usePermalink" }}
            {{ $target := "_blank" }}
            {{ if .Param "target" }}
                {{ $target = .Params.target }}
            {{ end }}
            <h3><a href="{{ .Permalink }}" target="{{ $target }}">{{ .Title }}</a></h3>
        {{ else if .Param "href" }}
            {{ $target := "_blank" }}
            {{ if .Param "target" }}
                {{ $target = .Params.target }}
            {{ end }}
            <h3><a href="{{ .Params.href }}" target="{{ $target }}">{{ .Title }}</a></h3>
        {{ else if .Param "file" }}
            {{ $file := resources.Get .Params.file }}
            <h3><a href="{{ $file.Permalink }}" target="_blank">{{ .Title }}</a></h3>
        {{ else }}
            <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        {{ end }}
        <p>{{ .Description }}</p>
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
