.avatar {
    margin-top: 30px;
    margin-bottom: 30px;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.iconLink {
    color: #eee;
    text-decoration: none;
}

.hi-svg-inline {
    margin-left: 5px;
    margin-right: 5px;
}

.hi-svg-inline:hover {
    transform: scale(1.2);
    fill:   #8cc2dd;
}
