.avatar {
    margin-top: 30px;
    margin-bottom: 30px;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
