<link href="/css/main.css" rel="stylesheet" />
<script>
  window.MathJax = {
    loader: { load: ["input/tex", "output/svg", "[tex]/tagformat"] },
    tex: {
      packages: { "[+]": ["tagformat"] },
      inlineMath: [
        ["$", "$"],
        ["\\(", "\\)"],
      ],
      displayMath: [
        ["$$", "$$"],
        ["\\[", "\\]"],
      ],
      processRefs: true,
      tags: "ams",
      useLabelIds: true,
      tagformat: {
        number: (n) => n.toString(),
        id: (tag) => "eqn-id:" + tag,
      },
    },
    svg: {
      fontCache: "global",
    },
  };
</script>
<script id="MathJax-script" async src="/js/tex-svg.js"></script>
